[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"
pylint = "*"
flake8 = "*"
twine = "*"

[packages]
numpy = "*"
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
test = "python -m unittest discover tests"
mypy = "mypy warhammer_stats"
flake8 = "flake8 warhammer_stats"
build = "python setup.py sdist bdist_wheel"
twine = "twine upload dist/* --username __token__ --password $PYPI_TOKEN"
